.App {
  text-align: center;
}





.App-header {
  background-color: #c9d7f0;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mediaList {
  display: flex;
  flex-direction:column;
  border: 1px solid ;

}
.media-box{
  display: flex;
  justify-content:space-around;
  padding: 10px;
  border: 2px solid ;
  margin:10px;
  width: 300px;
}
.Title{
  font-weight: bold;

}
.media-player-box{
  display: flex;
  justify-content: center;
  border: 1px solid ;
  height: 100px;
}

